extends layouts/main
include ./mixins/videoBlock

block content
    .videos
        if(videos)
            each item in videos
                +videoBlock(item)
        else
            h2 아무것도 없음.
            